<div class='div'>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Adresse e-mail</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="submitted && loginForm.get('email')?.errors">
        <div *ngIf="loginForm.get('email')?.errors?.['required']">L'adresse e-mail est requise.</div>
        <div *ngIf="loginForm.get('email')?.errors?.['email']">L'adresse e-mail est invalide</div>
      </div>
    </div>
  
    <div>
      <label for="password">Mot de passe</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="submitted && loginForm.get('password')?.errors">
        <div *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</div>
      </div>
    </div>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
    
  
    <button type="submit">Connexion</button>
  </form>
  </div>