<nav class="navbar">
  <div class="navbar-left">
    <a class="logo-button" href="/home">
      <!-- AJOUTEZ LE LIEN VERS LE BON LOGOICI-->
      <img src="https://img.freepik.com/vecteurs-libre/vecteur-degrade-logo-colore-oiseau_343694-1365.jpg?w=740&t=st=1720384524~exp=1720385124~hmac=c9a9a3d408ce26128ef48bced4711ae7ddf7b7f79f16f2bdb46ec843146a6241" alt="Logo" class="logo">
    </a>
  </div>
  <div class="navbar-right">
    <a class="nav-button" href="/register">S'inscrire</a>
    <a class="nav-button" href="/login">Se connecter</a>
  </div>
</nav>
