/* Global Styles */
 .div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
  form {
    background-color: #fff8e7; /* Off-white with a hint of brown */
    border: 1px solid #d1bfa7; /* Light brown border */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #5a3e2b; /* Dark brown text */
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #d1bfa7; /* Light brown border */
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #a67c52; /* Darker brown on focus */
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #a67c52; /* Dark brown button */
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8a5a3e; /* Darker brown on hover */
  }
  
  div {
    margin-bottom: 15px;
  }
  
  .unvalid {
    display: flex;
    color: red;
    justify-content: center;
  }
  