<div class='div'>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Pseudonyme</label>
      <input type="text" id="username" formControlName="username">
      <!--<div *ngIf="submitted && f.username.errors">
        <div *ngIf="f['username'].errors.required">Le pseudonyme est requis.</div>
        <div *ngIf="f['username'].errors.minlength">Le pseudonyme doit contenir au moins trois caractères.</div>
        <div *ngIf="f['username'].errors.whitespace">Le pseudonyme ne doit pas contenir d'espaces.</div>
      </div>-->
    </div>
  
    <div>
      <label for="email">Adresse e-mail</label>
      <input type="email" id="email" formControlName="email">
      <!--<div *ngIf="submitted && f.email.errors">
        <div *ngIf="f.email.errors.required">L'adresse e-mail est requise.</div>
        <div *ngIf="f.email.errors.emailInvalid">L'adresse e-mail est invalide.</div>
      </div>-->
    </div>
  
    <div>
      <label for="password">Mot de passe</label>
      <input type="password" id="password" formControlName="password">
     <!-- <div *ngIf="submitted && f.password.errors">
        <div *ngIf="f.password.errors.required">Le mot de passe est requis.</div>
        <div *ngIf="f.password.errors.minlength">Le mot de passe doit contenir au moins huit caractères.</div>
        <div *ngIf="f.password.errors.passwordInvalid">Le mot de passe doit contenir une lettre minuscule, une lettre majuscule, un chiffre et un caractère spécial.</div>
      </div> -->
    </div>
  
    <div>
      <label for="confirmPassword">Confirmation du mot de passe</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">
      <!--<div *ngIf="submitted && f.confirmPassword.errors">
        <div *ngIf="f.confirmPassword.errors.required">La confirmation du mot de passe est requise.</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">Les mots de passe ne correspondent pas.</div>
      </div>-->
    </div>
  
    <button type="submit">S'inscrire</button>
  </form>
  </div>