.footer {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  text-align: center;
  padding: -10px 0;
  background: linear-gradient(90deg, #8b4513 0%, #b8860b 100%);;
  border-top: 1px solid #3834345d;
  position: fixed;
  width: 100%;
  bottom: -10px;
  text-shadow: 2px 2px black;
}


